---
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const chapters = await getCollection("chapters");
    const lessons = await getCollection("lessons");

    const routes = [];

    chapters.map((chapter) => {
        lessons.map((lesson) => {
            if (lesson.data.chapterId !== chapter.data.id) return;

            routes.push({
                params: { id: chapter.id, lesson: lesson.id },
                props: { lesson },
            });
        });
    });

    return routes;
}

import Lesson from "@layouts/lesson.astro";

const { lesson } = Astro.props;
const { Content } = await render(lesson);
---

<Lesson
    title={lesson.data.name}
    chapterId={lesson.data.chapterId}
    number={lesson.data.id}
>
    <div id="lesson-content" class="w-full flex flex-col gap-2">
        <Content />
    </div>
</Lesson>

<style is:global>
    #lesson-content h2 {
        font-size: var(--text-3xl);
        font-weight: var(--font-weight-bold);
        color: color-mix(
            in oklab,
            var(--color-brand-blue) 90%,
            var(--color-brand-black)
        );
    }

    #lesson-content img {
        margin: auto;
    }

    #lesson-content a {
        text-decoration: solid 1px var(--color-brand-blue);
        text-decoration-line: underline;
        color: var(--color-brand-blue);
        text-underline-offset: 4px;
    }

    #lesson-content h3 {
        font-size: var(--text-2xl);
        font-weight: var(--font-weight-bold);
        color: color-mix(
            in oklab,
            var(--color-brand-blue) 90%,
            var(--color-brand-black)
        );
    }

    #lesson-content h2::before {
        content: "> ";
    }

    #lesson-content h3::before {
        content: ">> ";
    }

    #lesson-content p {
        font-size: var(--text-xl);
        text-align: justify;
    }

    #lesson-content ol {
        list-style-type: decimal;
        list-style-position: outside;
        font-size: var(--text-xl);
        text-align: justify;
        margin-left: 1em;
    }

    #lesson-content ul {
        list-style-type: disc;
        list-style-position: outside;
        font-size: var(--text-xl);
        text-align: justify;
        margin-left: 1em;
    }

    #lesson-content video {
        border-radius: var(--radius-2xl);
    }

    #lesson-content .table-analysis {
        overflow-x: auto;
        max-width: 100%;
    }

    #lesson-content .table-analysis table {
        min-width: 56rem;
        width: 100%;
    }

    #lesson-content .table-analysis td,
    #lesson-content .table-analysis th {
        border: 1px solid var(--color-brand-blue);
        padding: 0.25rem;
        text-align: center;
    }

    #lesson-content .table-analysis tr td:first-of-type {
        text-align: left;
        font-weight: bold;
    }
    #lesson-content .table-analysis thead {
        background-color: var(--color-brand-blue);
        color: var(--color-brand-white);
    }

    #lesson-content .table-analysis tbody tr:nth-child(even) {
        background-color: var(--color-brand-grey);
    }

    @media (width >= 80rem) {
        #lesson-content h2 {
            font-size: var(--text-4xl);
        }

        #lesson-content h3 {
            font-size: var(--text-3xl);
        }

        #lesson-content p {
            font-size: var(--text-xl);
        }

        #lesson-content video {
            border-radius: var(--radius-3xl);
        }
    }
</style>
