<footer class="w-full flex justify-center bg-brand-black text-brand-white py-8">
    <!-- <div class="w-full flex flex-col gap-4 p-4 max-w-400">
        <div
            class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
        >
            <section class="flex flex-col gap-2">
                <h2 class="text-brand-grey/55 text-xl">Инвесторам</h2>
                <ul class="text-brand-grey text-base flex flex-col gap-1">
                    <li>
                        <a href="/fin-instruments/">Финановые инструменты</a>
                    </li>
                    <li>
                        <a href="/stock-market/">Фондовый рынок</a>
                    </li>
                    <li>
                        <a href="/money-market/">Денежный рынок</a>
                    </li>
                    <li>
                        <a href="/currency-market/">Валютный рынок</a>
                    </li>
                </ul>
            </section>
            <section class="flex flex-col gap-2">
                <h2 class="text-brand-grey/55 text-xl">Тест 2</h2>
                <ul class="text-brand-grey text-base flex flex-col gap-1">
                    <li>
                        <a href="/fin-instruments/">Тест 6</a>
                    </li>
                    <li>
                        <a href="/stock-market/">Тест 3</a>
                    </li>
                    <li>
                        <a href="/money-market/">Тест 4</a>
                    </li>
                    <li>
                        <a href="/currency-market/">Тест 6</a>
                    </li>
                </ul>
            </section>
            <section class="flex flex-col gap-2">
                <h2 class="text-brand-grey/55 text-xl">Тест 2</h2>
                <ul class="text-brand-grey text-base flex flex-col gap-1">
                    <li>
                        <a href="/fin-instruments/">Тест 6</a>
                    </li>
                    <li>
                        <a href="/stock-market/">Тест 3</a>
                    </li>
                    <li>
                        <a href="/money-market/">Тест 4</a>
                    </li>
                    <li>
                        <a href="/currency-market/">Тест 6</a>
                    </li>
                </ul>
            </section>
            <section class="flex flex-col gap-2">
                <h2 class="text-brand-grey/55 text-xl">Тест 2</h2>
                <ul class="text-brand-grey text-base flex flex-col gap-1">
                    <li>
                        <a href="/fin-instruments/">Тест 6</a>
                    </li>
                    <li>
                        <a href="/stock-market/">Тест 3</a>
                    </li>
                    <li>
                        <a href="/money-market/">Тест 4</a>
                    </li>
                    <li>
                        <a href="/currency-market/">Тест 6</a>
                    </li>
                </ul>
            </section>
        </div>
    </div> -->
    <p>Copyright 2025</p>
</footer>
