---
import Default from "./default.astro";
import Nav from "../components/nav.astro";

const { title, number } = Astro.props;
---

<Default>
    <div
        class="flex flex-col lg:flex-row gap-4 w-full lg:justify-between max-lg:items-center"
    >
        <Nav />
        <article
            class="bg-white border-brand-grey/80 w-full flex flex-col gap-4 items-center rounded-2xl p-2 lg:p-4 xl:p-8 lg:shadow-md"
        >
            <h1
                class="text-4xl md:text-5xl lg:text-6xl font-sans font-bold text-center text-brand-blue/85"
            >
                Chapter {number}: <span
                    class="underline decoration-4 underline-offset-4"
                    >{title}</span
                >
            </h1>
            <hr
                class="border-t border-brand-black/10 w-full my-0.5 lg:my-4 lg:border-brand-black/15 lg:border-dotted"
            />
            <slot />
        </article>
    </div>
</Default>
