---
import "@styles/global.css";

import Head from "@components/head.astro";
import Header from "@components/header.astro";
import Footer from "@components/footer.astro";

const { title = "EnFinWiki", description, tags } = Astro.props;
---

<html lang="ru" dir="ltr">
    <Head {title} {description} {tags} />
    <body class="font-georgia bg-brand-black">
        <div class="flex flex-col items-center bg-brand-grey w-full">
            <Header />
            <main
                class="w-full bg-brand-white rounded-t-4xl shadow-below-header border-t-brand-blue text-brand-black border-t-4 flex flex-col items-center p-4"
            >
                <div class="flex flex-col items-center w-full max-w-400">
                    <slot />
                </div>
            </main>
        </div>
        <Footer />
    </body>
</html>
